/* Стилизация кнопки */

.button {
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: inline-block;
	min-width: 189px;
	height: 48px;
	border-radius: 8px;
	font-size: 16px;
	font-weight: 500;
	padding: 15px 20px 14px;
	cursor: pointer;
}

.button:disabled {
	opacity: 0.5;
	pointer-events: none;
}

/* Стиль кнопки Primary */

.button_primary {
	background-color: var(--primary);
	color: var(--white);
	transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}

.button_primary:hover {
	background-color: #2342C0;
}


/* Стиль кнопки Secondary */

.button_secondary {
	background-color: var(--secondary);
	color: var(--white);
	transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}

.button_secondary:hover {
	background-color: #5028C6;
}

/* Стиль кнопки Alternate */

.button_alternate {
	background-color: var(--white);
	color: var(--grey-4);
	border: 1px solid var(--grey-3);
	transition: border-color 0.2s ease-in-out;
}

.button_alternate:hover {
	border: 1px solid var(--black);
}