/* Стилизация аккордеона */

.accordion__item {
	border: 1px solid var(--gray-3);
	border-radius: 8px;
	padding: 24px 32px;
	margin-bottom: 8px;
}

.accordion__item:last-child {
	margin-bottom: 0px;
}

.accordion__summary::-webkit-details-marker {
	/* нестандартный псевдоэлемент Google Chrome */
	display: none;
}

.accordion__summary {
	display: flex;
	justify-content: space-between;
	align-items: center;
	line-height: 24px;
	color: var(--black);
	cursor: pointer;
	position: relative;	
	
}

.accordion__text {
	margin: 0;
	padding-top: 16px;
	color: var(--grey-4);
	line-height: 24px;
}

/* Добавляем собственный маркер для закрытого состояния */
.accordion__summary:before {
	position: absolute;
	content: "";
	width: 17px;
	height: 8px;
	background: url("/assets/images/ar-bot.png") no-repeat;
	top: 0;
	right: 0;
	transition: transform .5s;
	color: var(--grey-4);
}


/* Добавляем собственный маркер для открытого состояния */
.accordion__item[open] .accordion__summary:before {
	content: "";
	background: url("/assets/images/ar-top.png") no-repeat;
	width: 17px;
	height: 12px;
}