.radio {
    display: inline-flex;
    position: relative;
}

.radio__input {
    position: absolute;
    left: -100vw;
}

.radio__state {
    display: flex;
    gap: 12px;
    align-items: center;
}

.radio__control {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    background: var(--white);
    border: 1px solid var(--grey-2);
    border-radius: 14px;
}

.radio__icon {
    width: 18px;
    height: 18px;
    background: #4263EB;
    border-radius: 50%;
    display: none;
}

.radio__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
}

.radio__input:checked~.radio__state .radio__control {
    background-color: var(--white);
    border: 2px solid #4263EB
}

.radio__input:checked~.radio__state .radio__icon {
    display: block;
}

.radio__input:disabled~.radio__state .radio__control {
    background-color: var(--grey-2);
}

.radio__input:disabled~.radio__state .radio__title {
    color: var(--grey-2);
}

.radio__input:focus~.radio__state .radio__title {
    text-decoration: underline;
}