.form-block {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

.form-block__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--grey-3);
    margin-bottom: 5px;
}

.form-block__content {
    position: relative;
}

.form-block__input {
    width: 350px;
    height: 56px;
    background-color: var(--white);
    border: 1px solid var(--grey-2);
    border-radius: 8px;
    padding: 17px 52px 13px 24px;
}

.form-block__icon {
    display: none;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.form-block_success .form-block__icon {
    display: block;
}

.form-block_error .form-block__icon {
    display: block;
}

.form-block_error .form-block__input {
    border: 1px solid #F03D3E;
    box-shadow: 0px 1px 1px rgba(240, 61, 62, 0.1);
}